<%- include("header"); -%>

<tile>Confirmation</tile>
</head>

<body>
<!-- tile saying "Confirmation" -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Confirmation</h1>
        </div>
    </div>
    <!-- if you already have an account sign in text -->
    <br>
    <div class="row">
        <div class="col-12">
            <p class="">Thank you for signing up! Please check your email to confirm your account.</p>
        </div>
    </div>
</body>

</html>
